# Flask & web framework
Flask==3.0.3
Flask-Cors==4.0.0
gunicorn==21.2.0

# Database & SQLAlchemy
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9
Flask-SQLAlchemy==3.1.1
alembic==1.13.1 # Database migrations
GeoAlchemy2==0.15.1 # PostGIS 지원을 위한 패키지 (경로/위치 추적 및 F4, F5 쿼리 최적화)

# Logging
structlog==24.1.0

# Utilities & scheduling
APScheduler==3.10.4
Flask-APScheduler==1.12.4
python-dotenv==1.0.1
requests==2.31.0
marshmallow==3.21.1
